.a_12_n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
}
.a_12_n_i {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}
.a_12_i {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	font-style: italic;
}
.a_12{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	}

.a_14_n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
}
.a_14 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	text-decoration: none;	
}
.a_16_n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
	font-weight: bold;
}
.a_16 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	text-decoration: none;
}
.a_10_n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
}
.a_10_n_i {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
	font-weight: bold;
	font-style: italic;
}

.a_10 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

.a_8 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
}

.a_8_n {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
	font-weight: bold;
}

.a_8_i {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-decoration: none;
	font-style: italic;
}
